@mixin flex-center {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

@mixin flex-left {
    display: flex;
    align-items: left;
    text-align: left;
    flex-wrap: wrap;
}

@mixin border-radius-all($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-top($radius) {
    -webkit-border-radius: $radius $radius 0 0;
    -moz-border-radius: $radius $radius 0 0;
    border-radius: $radius $radius 0 0s;
}

@mixin box-shadow-gray() {
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(234, 234, 234);
}

@mixin  text-gradient {
    
  background: -webkit-linear-gradient($couleur-secondaire, $couleur-primaire);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}