@keyframes menu_apparition_KF {
    from {
        visibility: hidden;
        margin-top: 4em;
    }
    to {
        visibility: visible;
        margin-top: 0;
    }
}

@keyframes rotation_KF {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotationLeft_KF {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes display_KF {
    from {
        z-index: 0;
    }
    to {
        z-index: 1000;
    }
}

@keyframes scrollY_KF {
    from {
        overflow-y: hidden;
    }
    to {
        overflow-y: scroll;
    }
}