
@mixin menu-apparition() {
    animation-name: menu_apparition_KF;
    animation-duration: 1s;
    animation-timing-function: linear;

    -webkit-animation-name: menu_apparition_KF;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: menu_apparition_KF;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
}

@mixin rotation() {
    -webkit-animation-name: rotation_KF;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;

    -moz-animation-name:rotation_KF;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;

    animation-name: rotation_KF;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    
}

@mixin transition-all {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

@mixin goback-dimension($valeur) {
    width: $valeur;
    height: $valeur;
    line-height: $valeur;
}