@mixin flex-center {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

@mixin flex-left {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

@mixin border-radius-all($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-top($radius) {
    -webkit-border-radius: $radius $radius 0 0;
    -moz-border-radius: $radius $radius 0 0;
    border-radius: $radius $radius 0 0;
}

@mixin box-shadow-gray() {
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(234, 234, 234);
}

@mixin  text-gradient {
  background: -webkit-linear-gradient($couleur-secondaire, $couleur-primaire);
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin dimension-fulfilled {
    width: 100%;
    height: 100%;
}

@mixin afficherPage() {
    -webkit-animation-name: display_KF;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;

    -moz-animation-name:display_KF;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;

    animation-name: display_KF;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    
}