$font-family-logo:Shrikhand;
$font-family-body:Roboto; 
$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-gris-clair:rgb(246, 246, 246);
$couleur-grise-texte:rgb(128,128,128);