.site-chargement {
    @include dimension-fulfilled;
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    flex-direction: column;
    padding-top: 40vh;
    z-index: -1;
    .chargement__logo {
        position: absolute;
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        margin: 0.2rem;
        font-family: $font-family-logo;
        font-size: 1rem;
        border-radius: 50%;
        @include spinnerRight;
    }
    .chargement__block {
        position: relative;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        border: solid $couleur-primaire 0.3rem;
        border-top: dotted $couleur-primaire 0.3rem;
        border-right: solid white 0.3rem;
        @include spinnerLeft;
    }
    @include afficherLoading;
}

.index-body {
    overflow-y: hidden;
    @include rendreScrollableY;
}

header {
    @include flex-center;
    width: inherit;
    flex-direction: column;
    .logo__conteneur {
        position: relative;
        width: inherit;
    }
    .header-goback__ancre {
        display: block;
    }
    .header-image__conteneur {
        width: 100%;
    }
    .map {
        background-color: rgb(234, 234, 234);
        width: inherit;
        height: 3rem;
        line-height: 3rem;
        .map__fa {
            margin-right: 1rem;
        }
    }
    .header-goback {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .nav {
        @include flex-center;
        background-color: $couleur-gris-clair;
        padding: 0 1rem 3rem 1rem;
        width: inherit;
        .nav__titre-2,
        .nav__description {
            width: inherit;
        }
        .nav-bouton {
            margin-top: 2rem;
            height: 2.5rem;
            width: 100%;
            .nav__ancre {
                display: block;
                box-shadow: 0.3rem 0.3rem 0.5rem darkgray;
                @include transition-all;
                &:hover {
                    opacity: 0.9;
                    @include transition-all;
                    box-shadow: 0.3rem 0.3rem 0.2rem darkgray;
                }
            }
        }
    }
}


/** Style pour téléphone uniquement */

@media screen and (max-width: 767px) {
    header {
        .logo {
            height: 3rem;
            .header-goback {
                @include goback-dimension(3rem);
            }
            .logo__conteneur {
                @include dimension-fulfilled();
                padding: 0.7rem;
                .logo__image {
                    height: 100%;
                    width: auto;
                }
            }
        }
        .header__image {
            height: 15rem;
        }
        .nav__ancre {
            line-height: 2.5rem;
            width: 14rem;
            font-size: 1rem;
        }
    }
}


/** Style pour tablette uniquement */

@media screen and (min-width:768px) and (max-width: 991px) {
    .logo {
        height: 3.5rem;
        .header-goback {
            @include goback-dimension(3.5rem);
            .header-goback__ancre {
                display: block;
                .header-goback__fa {
                    font-size: 1.2rem;
                }
            }
        }
        .logo__conteneur {
            @include dimension-fulfilled();
            padding: 0.7rem;
            .logo__image {
                height: 100%;
                width: auto;
            }
        }
    }
    .header__image {
        height: 20rem;
    }
    .nav__ancre {
        line-height: 2.5rem;
        width: 17rem;
        font-size: 1rem;
    }
}


/** Style pour ordinateur uniquement**/

@media screen and (min-width: 992px) {
    .logo {
        height: 5rem;
        .header-goback {
            @include goback-dimension(4.5rem);
            .header-goback__ancre {
                display: block;
                .header-goback__fa {
                    font-size: 1.2rem;
                }
            }
        }
        .logo__conteneur {
            @include dimension-fulfilled();
            padding: 1rem;
            .logo__image {
                height: 100%;
                width: 18rem;
            }
        }
    }
    .header__image {
        height: 25rem;
    }
    .nav__ancre {
        line-height: 2.5rem;
        width: 20rem;
        font-size: 1.1rem;
    }
}